@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: "SF Safari", "SF Pro", "Hiragino Sans", "Inter", "Noto Sans JP", system-ui, sans-serif;
  --background: #fafafa;
  --mozi: #181818;
  --ao: #265da5;
  --bunsho: #5a5a5a;
}

@font-face {
  font-family: "SF Safari";
  src: local(-apple-system);
  unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

html {
  background-color: var(--background);
  color: var(--mozi);
}
